spring:
  datasource:
    url: jdbc:mysql://localhost:3306/barber_experience?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: barber_user
    password: barber_pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update   # altere de 'none' para 'update'
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  redis:
    host: localhost
    port: 6379
    timeout: 60000

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
